<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e4beb6">  <td>19/03/03 16:53:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SeleniumBase.openUrl()[pri:0, instance:testCase.VendorTestCase@29ca901e]">&gt;&gt;openUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2106620844</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/03/03 16:53:37</td>   <td>24156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VendorTestCase.getVendorName()[pri:0, instance:testCase.VendorTestCase@29ca901e]">getVendorName</td> 
  <td>main@2106620844</td>   <td></td> </tr>
</table>
